.site-header .site-title {
  line-height: 1em;
}

.call-out h1 {
  font-family: $font-family-logo;
}

.chart {
  margin: 0 auto;
  min-width: 50%;
  max-width: 100%;
  min-height: 250px;
  padding-bottom: 1em;
}

.mermaid > svg {
  margin: auto;
  display: block;
  height: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  max-width: 100%;
}
