.site-header .site-title {
  line-height: 1em;
}

.call-out h1 {
  font-family: $font-family-logo;
}

.chart {
  margin: 0 auto;
  min-width: 50%;
  max-width: 100%;
  min-height: 250px;
  padding-bottom: 1em;
}

%mermaid-color {
  fill: lighten($actor, 25%) !important;
  stroke: $actor !important;
}

.mermaid {
  text, tspan {
    font-family: $font-family-main !important;
  }
}

.actor, .labelBox, .label-container {
  @extend %mermaid-color
}

.classGroup {
  rect, line {
    @extend %mermaid-color
  }
}

.note {
  fill: lighten($note, 25%) !important;
  stroke: $note !important;
}

.cluster rect {
  fill: lighten($note, 40%) !important;
  stroke: $note !important;
}

.edgeLabel {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

