//custom
.site-header .site-title {
  line-height: 1em;
}

.call-out h1 {
  font-family: $font-family-logo;
}

//chartjs
.chart {
  margin: 0 auto;
  min-width: 50%;
  max-width: 100%;
  min-height: 250px;
  padding-bottom: 1em;
}

//mermaidjs
%mermaid-color {
  fill: lighten($actor, 25%) !important;
  stroke: $actor !important;
}

.mermaid {
  text, tspan {
    font-family: $font-family-main !important;
  }
}

g {
  .classGroup {
    rect, line {
      @extend %mermaid-color
    }
  }

  .cluster rect {
    fill: lighten($note, 40%) !important;
    stroke: $note !important;
  }

  .note {
    fill: lighten($note, 25%) !important;
    stroke: $note !important;
  }

  .actor, .labelBox, .label-container, .title-state, .divider {
    @extend %mermaid-color
  }

  .edgeLabel {
    background-color: var(--selection) !important;
    color: var(--text) !important;
  }
}

