.site-header .site-title {
  line-height: 1em;
}

.call-out h1 {
  font-family: $font-family-logo;
}

.chart {
  margin: 0 auto;
  min-width: 50%;
  max-width: 100%;
  min-height: 250px;
  padding-bottom: 1em;
}

.actor, .labelBox {
  fill: lighten($actor, 25%) !important;
  stroke: $actor !important;
}

.note {
  fill: lighten($note, 25%) !important;
  stroke: $note !important;
}
