// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-logo: 'Pacifico', 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-x-large: 23%;
$padding-large: 9%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;

// Sepcific Padding
$title-padding: 1%;
$feature-image-padding: 10%;

// Mobile display
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px;
$break: 768px;
$sm-break: 576px;
$x-sm-break: 300px;

// Brand colours
$theme-color: #337ab7;
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Header colours
$header-background-color: darken(#E1AD01, 0%);  // Only used when no header image
$header-link-color: #383838;
$header-text-color: #fff;
$navbar-separator-opacity: 0;

// Typography colours
$text-color: #262626;
$meta: #595959; //lowest gray for accessible color
$link-color: $theme-color; // #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text
$blockquote-color: #EEF7FA; // $background-color;

//Search color
$link-shadow: transparentize($link-color, .6); //rgba(26, 188, 156, 0.6);
$text-shadow: #3f3f3f;
$search-color: #999;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

/*  Syntax highlighting  */
// Syntax typography
$monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif !default;
$font-size-code: 0.85em !default;
$font-height-code: 1.3em !default;
$border-radius: 4px !default;

// base16 Dracula Theme
$base00: #2B2B2B !default;  // Default Background
$base01: #383838 !default;  // Lighter Background (Used for status bars)
$base02: #454545 !default;  // Selection Background
$base03: #808080 !default;  // Dark Foreground (Used for status bars)
$base04: #8f8f8f !default;  // Comments, Invisible, Line Highlighting
$base05: #AFBFCC !default;  // Light Foreground (Not often used)
$base06: #EEFFFF !default;  // Light Background (Not often used)
$base07: #FFFFFF !default;  // Default Foreground, Caret, Delimiters, Operators
$base08: $base07; //#E8BF6A !default;  // Parenthesis, Caret, Delimiters, Operators
$base09: #CC7832; //#6697BC !default;  // Classes, Markup Bold, Search Text Background
$base0a: #6A8759 !default;  // Strings, Inherited Class, Markup Code, Diff Inserted
$base0b: #F9C56D !default;  // Functions, Methods, Attribute IDs, Headings
$base0c: #BB97BF !default;  // Support, Regular Expressions, Escape Characters, Markup Quotes
$base0d: #CC7832 !default;  // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0e: #6997BB !default;  // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0f: #BBB529 !default;  // Deprecated, Opening/Closing Embedded Language Tags e.g.


